/* 공통 사용 페이지 */
.common-page {
  position: relative;
  top: 0;
  z-index: 101;
  width: 100%;
  height: 100vh;
  transition: top 0.9s ease;
}
.common-page > div {
  width: 100%;
  height: 100vh;
  background-color: #FFF;
}

/* 페이지 컨테이너 */
.page-contain {
  height: 100%;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*overflow: auto;*/
}
/* 아이템 요소 컨테이너 */
.item-contain {
  max-width: 1000px;
  width: 100%;
}