#exp-page {
  position: relative;
}

#exp-page .item-grid {
  width: 100%;
  display: grid;
  grid-template-areas:
    "contents picture"
    "contents picture";
  grid-template-columns: 1fr 300px;
  gap: 0 1rem;
}

.exp-grid > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


/*  모달 부분  */
.exp-modal {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.exp-modal::-webkit-scrollbar {
  /*display: none;*/
}