
#modal {
  width: 80vw;
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 150%;
  z-index: 102;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  border-radius: 1rem;
  padding: 1rem;
  transition: 0.4s ease all;
  opacity: 0;
  background-color: #FFF;
}

#modal.show {
  left: 50%;
  opacity: 1;
}

.modal-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-header {
  height: 40px;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-header .modal-title {
  font-size: 1.125rem;
  font-weight: 500;
}
.modal-header .round-x {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  border: none;
  background: url("../images/close-outline.svg") 50% 50% no-repeat;
  border-radius: 100%;
}
.modal-body {
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}
.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 0.4rem;
  padding-top: 1rem;
}