#work-page {
  position: relative;
}

#work-page .item-grid {
  width: 100%;
  display: grid;
  grid-template-areas:
    "contents picture"
    "contents picture";
  grid-template-columns: 1fr 300px;
  gap: 0 1rem;
}
.grid-contents {
  grid-area: contents;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.grid-contents > .exp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  color: #888;
}


/*  모달 부분  */
.work-modal {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.work-modal::-webkit-scrollbar {
  /*display: none;*/
}