#work-page {
  position: relative;
}

.work-contain {

}


/*  모달 부분  */
.work-modal {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.work-modal::-webkit-scrollbar {
  /*display: none;*/
}